<div class="about ion-text-center">
  <h1>QuillBot's paraphrasing tool helps millions of people rewrite and enhance any sentence, paragraph, or article
    using state-of-the-art AI.</h1>
  <p>
    Your words matter, and our paraphrasing tool is designed to ensure you use the right ones. With 2 free modes and 4
    premium modes to choose from, QuillBot’s paraphraser can rephrase any text in a variety of different ways,
    guaranteeing you find the perfect language, tone, and style for any occasion. Just enter your text into the input
    box, and our AI will work with you to build the best paraphrase from the original piece of writing.
  </p>
</div>
<div class="feature" *ngFor="let item of abouts" [class.bg-f1]="item.isRight" [style.backgroundImage]="'url('+ item.bg +')'"  [style.backgroundPosition]="item.position">
  <ion-grid class="content">
    <ion-row [class.row-reverse]="item.isRight">
      <ion-col [size]="sizeGrid">
        <img [src]="item.img" class="img-shadow" alt="" srcset="">
      </ion-col>
      <ion-col [size]="sizeGrid">
        <div class="header">
          <span class="color-primary text-uppercase" [innerHtml]="item.header"></span>
          <h3 class="" [innerHtml]="item.title"></h3>
          <p [innerHtml]="item.description"></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>