
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.ion-page {
  overflow: auto !important;
}

.paraphrase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}


.card-paraphrase {
  width: 80%;
  height: 90%;
}

.card-paraphrase .item-active {
  border-bottom: 1px solid #499557;
  color: #499557;
}

.mode-mobile {
  display: none;
}

.padding-left-10 {
  padding-left: 10px;
}

.text-length {
  float: left;
  margin-top: 18px;
}

.btn-paraphrase {
  height: 40px;
  border-radius: 40px;
  min-width: 143px;
  font-size: 16px;
  padding: 5px 25px 6px;
  text-transform: capitalize;
  background: #499557;
  color: #fff;
}

.paraphrase-textarea {
  font-size: 16px;
  line-height: 1.8;
}

.border-space {
  border-left: 2px solid #d4d4d4;
  padding-left: 15px;
}

@media(min-width: 568px) {
  .btn-paraphrase {
    margin-left: -250px;
  }
}

@media (max-width: 568px) {
  .hidden-xs {
    display: none;
  }

  .paraphrase-content {
    height: auto;
  }

  .pd-0-mobile {
    padding: 0;
    padding-bottom: 10px;
  }

  .border-space {
    border-left: none;
    border-top: 2px solid #d4d4d4;
    padding-top: 15px;
    border-bottom: 1px solid #d4d4d4;
  }

  .mode-mobile {
    display: block;
    padding: 0;
  }

  .card-paraphrase {
    width: 100%;
    margin: 0;
    height: 100%;
  }

  .pl-15-mobile {
    padding-left: 15px;
  }
  .feature .header {
    margin-left: 10px;
    margin-top: 50px;
  }
  .feature .content, .about {
    padding: 10px;
  }
  
}

.pd-10 {
  padding: 10px;
}
.pd-20 {
  padding: 20px;
}
.pd-0 {
  padding: 0px;
}

.arrow{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
.arrows {
  min-height: 100px;
}

.about {
  max-width: 950px;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
.about p {
  font-family: -webkit-pictograph;
  font-size: 18px;
}

.feature {
  background-repeat: no-repeat;
  background-position: 58% 165%;
  padding: 100px 0;
  margin: auto;
  width: 100%;
}

.feature {
  background-image: url("https://quillbot.com/images/landinPage/bluecercle.svg");
}

.feature .content {
  max-width: 1300px;
}
.feature .header {
  max-width: 355px;
  margin-left: 50px;
}
.feature .header p {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 27px;
}
.img-shadow {
  max-width: 100%;
    margin: auto;
    box-shadow: 1px 1px 30px rgb(49 49 49 / 36%);
    border-radius: 12px;
    display: block;
}
.color-primary {
  color: #499557;
}
.text-uppercase {
  text-transform: uppercase;
}

.bg-f1 {
  background-color: #f1f1f1;
}

.row-reverse {
  flex-direction: row-reverse;
}

.range {
  min-width: 400px;
}
.range-knob {
  --knob-background: #499557!important;
}