
<div class="paraphrase-page">
  <div class="paraphrase-content bg-f1">
    <ion-card class="card-paraphrase">
     
      <ion-card-header class="mode-window hidden-xs">
        <ion-item>
          <ion-row no-lines>
            <ion-item lines="none">
              <ion-label>
                <h3 [innerHtml]="'Modes: '"></h3>
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngFor="let item of modes" [class.item-active]="modeSelected === item.value"
              (click)="modeSelected = item.value">
              <ion-label>
                <h3 [innerHtml]="item.name"></h3>
              </ion-label>
            </ion-item>
            
          </ion-row>
          <ion-item class="range">
            <ion-label>Synonyms:</ion-label>
            <ion-range dualKnobs="true" min="1" max="4" step="1" snaps="true" color="success"></ion-range>
          </ion-item>
        </ion-item>
      </ion-card-header>

      <ion-card-header class="mode-mobile" id="paraphrase">
        <ion-item class="ion-no-padding">
          <ion-label class="padding-left-10" [innerHtml]="'Modes: '"></ion-label>
          <ion-select [(ngModel)]="modeSelected" name="mode" id="mode">
            <ion-select-option *ngFor="let item of modes" [value]="item.value" [innerHtml]="item.name">
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-header>
      <ion-card-content class="pd-0-mobile">
        <ion-grid class="pd-0-mobile">
          <ion-row>
            <ion-col [size]="sizeGrid">
              <ion-textarea class="pl-15-mobile paraphrase-textarea " autofocus="true" clear-on-edit="true"
                [(ngModel)]="textParaphrase" name="textParaphrase" id="textParaphrase" [rows]="rowArea" cols="15"
                [maxlength]="limit"
                placeholder="QuillBot will rewrite your text. Start by writing or pasting something here and then press the Paraphrase button.">
              </ion-textarea>
            </ion-col>
            <ion-col [size]="sizeGrid" class="border-space">
              <ion-textarea class="pl-15-mobile paraphrase-textarea " autofocus="true" clear-on-edit="true"
                [rows]="rowArea" cols="15" [(ngModel)]="resultParaphrase" name="resultParaphrase" id="resultParaphrase"
                placeholder="QuillBot will rewrite your text. Start by writing or pasting something here and then press the Paraphrase button.">
              </ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="ion-text-center">
          <ion-label class="text-length hidden-xs" [innerHtml]="textParaphrase.length+'/' + limit + ' Characters'">
          </ion-label>
          <button class="btn-paraphrase">Paraphrase</button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="pd-10 ion-text-center arrows">
    <div class="arrow">
      <span></span>
      <span></span>
      <span></span>

    </div>
  </div>

  <app-about [sizeGrid]='sizeGrid'></app-about>
</div>